@import  '../../Styles/color.scss';
.mainContainer {
    display: flex;
  .viewDetailsBtn {
    background-color: $themeBgc;
    border: 0;
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 4px;
  }
  .filterByExp {
    display: flex;
    flex-basis: 30%;
  }
  .filterSearchEmploye{
      display: flex;
      justify-content: space-evenly;
      padding-top: 20px;
  }
  .filterExp{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
  }
  .searchTable{
      min-width: 650px;
      min-height: 400px;
  }
  .employeeSearch{
    display: flex;
    text-align: left;
    padding: 20px 0;
  }
  .serachDropDown{
    margin:0 10px;
  }
}

