.employeeDetails{
    display: flex;
    flex-direction: column;
    width: 80%;
    .backToHome{
        display: flex;
    }
    .employeeNameExp{
        display: flex;
    }
    .empDetail{
        flex-basis: 40%;
        padding: 15px 0;
    }
}