.aboutUs {
  max-width: 31rem;
  padding: 59px;
  border: 1px solid #5f57d8;
  position: relative;
  margin-top: 62px;
  .logoImage {
    position: absolute;
    top: -44px;
    left: -71px;
    background-color: #ffffff;
  }
}
